*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-group{ margin: 20px 0; }
input{ height: 30px; width: 80%; padding: 5px;margin-left: 150px; }
button {
    margin-left: 720px;
    background: dodgerblue; 
    color: #fff; 
    padding: 10px; 
    border: solid 1px dodgerblue;
    cursor: pointer;
}

html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

body{
    background: #f7f5ff;
    display: flex;
    flex-flow: column;
    height: 100vh;
    
}
main{
    flex: 1;
    margin: 20px 5px;
}
table{
    margin: 20px 0;
    text-align:center;
    margin-left: 150px;
    height: 30px;
    width: 80%;
    border: solid 1px dodgerblue;
    color: black;
}
h2{
    text-align: center;
}


